.anchor-pane {
    -fx-background-color: #7d1833;
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Barra superior */
.top-bar {
    -fx-background-color: transparent;
    -fx-padding: 15px;
}

.logo-text {
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.welcome-text {
    -fx-text-fill: #bdc3c7;
    -fx-font-size: 14px;
}

.card {
    -fx-background-color: #ffffff;
    -fx-padding: 30px 40px 40px 40px;
    -fx-spacing: 25px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 12, 0, 0, 6);
    -fx-max-width: 700px;
    -fx-alignment: center;
}

.label-title {
    -fx-font-size: 40px;
    -fx-font-weight: 700;
    -fx-text-fill: #2c3e50;
}
.label-sub-title {
    -fx-font-size: 30px;
    -fx-font-weight: 700;
    -fx-text-fill: #2c3e50;
}

.text {
    -fx-font-size: 16px;
    -fx-text-fill: #4a4a4a;
    -fx-line-spacing: 1.6em;
    -fx-wrap-text: true;
}

.hbox {
    -fx-alignment: center;
}

.label-text {
    -fx-font-size: 18px;
    -fx-font-weight: 700;
    -fx-text-fill: #2c3e50;
}

.label-preco {
    -fx-font-size: 18px;
    -fx-font-weight: 700;
    -fx-text-fill: #27ae60;
}

.spinner {
    -fx-pref-width: 80px;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: 700;
    -fx-padding: 10px 20px;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.18), 6, 0, 0, 3);
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-background-color: #3498db;
}
.title-card {
    -fx-background-color: rgb(175, 28, 73);
    -fx-background-radius: 15px;
    -fx-padding: 20px;
    -fx-spacing: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 5);
    -fx-max-width: 800px;
}

.descricao-card {
    -fx-background-color: rgba(255, 0, 0, 0.2);
    -fx-background-radius: 15px;
    -fx-padding: 20px;
    -fx-spacing: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 5);
    -fx-max-width: 800px;
}

.image-view {

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 3);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.secondary-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-pref-height: 40;
    -fx-pref-width: 150;
    -fx-background-radius: 5;
}

.secondary-button:hover {
    -fx-background-color: #c0392b;
}