/* Estilos gerais */
.root {
    -fx-font-family: 'Segoe UI';
}


.title-text {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.subtitle-text {
    -fx-text-fill: #bdc3c7;
    -fx-font-size: 16px;
}

.footer-text {
    -fx-text-fill: #bdc3c7;
    -fx-font-size: 12px;
}

/* Efeitos para os botões */
.button {
    -fx-background-radius: 25;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 5);
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-opacity: 0.9;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}


.hello-text{
    -fx-text-fill: white;
    -fx-font-size: 21px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}