/* pagamento.css */
.root {
    -fx-background-color: #fff0f2; /* fundo clarinho para destacar */
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.vbox {
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-alignment: center;
}

.title-text {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #7d1833;
}

.text-field {
    -fx-max-width: 250px;
    -fx-max-height: 35px;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-prompt-text-fill: #a0a0a0;
}

.text-field:focused {
    -fx-border-color: #bf2c50;
    -fx-effect: dropshadow(gaussian, #bf2c50, 8, 0, 0, 0);
}

/* Botões */
.primary-button {
    -fx-background-color: #408d3a;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-pref-height: 50;
    -fx-pref-width: 250;
    -fx-background-radius: 5;
}

.primary-button:hover {
    -fx-background-color: #3a7d34;
}

.secondary-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-pref-height: 40;
    -fx-pref-width: 150;
    -fx-background-radius: 5;
}

.secondary-button:hover {
    -fx-background-color: #c0392b;
}
